:where(.root) {
    &[data-type='splitter'] {
        font-feature-settings: 'kern' off;
    }

    [data-type='char'],
    [data-type='space'],
    [data-type='whitelisted'] {
        margin-right: var(--kerning, 0);
    }

    [data-type='space']:first-of-type,
    [data-type='space']:last-of-type {
        margin-right: 0;
    }

    [data-type='line'] {
        display: block;

        [data-type='char'],
        [data-type='space'],
        [data-type='whitelisted'] {
            display: inline-block;
            text-decoration: inherit;
            vertical-align: top;
        }

        [data-type='char'],
        [data-type='whitelisted'] {
            position: relative;

            [data-type='char-inner'],
            [data-type='whitelisted-inner'] {
                display: inline-block;
                text-decoration: inherit;
            }
        }

        [data-type='space']:not(:first-of-type, :last-of-type) {
            white-space: pre;
        }
    }

    [data-type='kern'],
    [data-type='nokern'] {
        position: absolute;

        > div {
            all: unset;
            display: block;
            white-space: pre;
            width: fit-content;
        }
    }

    [data-type='kern'] {
        font-kerning: normal;
        font-feature-settings: 'kern' on;
    }

    [data-type='nokern'] {
        font-kerning: none;
        font-feature-settings: 'kern' off;
    }
}
