.trigger {
    list-style: none;
    font: inherit;
    appearance: none;
    padding: 0;
    border: none;
    color: currentcolor;
    background-color: inherit;
    user-select: none;
    cursor: pointer;

    &::marker, /* Latest Chrome, Edge, Firefox */ 
    &::-webkit-details-marker /* Safari */ {
        display: none;
    }
}
