.summary {
    list-style: none;
    appearance: none;
    cursor: pointer;

    &::marker, /* Latest Chrome, Edge, Firefox */ 
    &::-webkit-details-marker /* Safari */ {
        display: none;
    }
}
