.trigger {
    display: inline-block;
    font: inherit;
    appearance: none;
    padding: 0;
    border: none;
    color: currentcolor;
    background-color: inherit;
    user-select: none;
    cursor: pointer;
}
