.root {
  margin-top: 1.5rem;
}

.summary {
  width: 100%;
  border-bottom: 1px solid white;
  padding: 1rem 0;
  background-color: firebrick;
  color: white;
  text-align: center;
  cursor: pointer;
}

.content {
  line-height: 1.3;
  padding: 1rem;
  background-color: coral;
  color: white;
  border-bottom: 1px solid white;
}
